@font-face {
    font-family: outlineFont;
    src: url(../fonts/KGSecondChancesSketch.ttf);
}

@font-face {
    font-family: outlineFontSolid;
    src: url(../fonts/KGSecondChancesSolid.ttf);
}


.footer{
    margin-top: 50px;
}

/*.outer {*/
    /*display: table;*/
    /*position: absolute;*/
    /*height: 100%;*/
    /*width: 100%;*/
/*}*/

/*.middle {*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/
/*}*/

/*.inner {*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*width: !*whatever width you want*!;*/
/*}*/
.parallax {
    /* The image used */
    background-image: url(../img/header-bg.jpg);

    /* Set a specific height */
    height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.logo{
    text-align: center;
    font-family: outlineFont;
    font-size: 64px;
    border: 2px solid #FFF;
    color: #FFF;
    display: block;
}

.header{
    padding-top: 100px;
}

.logo-xs{
    text-align: center;
    font-family: outlineFont;
    font-size: 60px;
    border: 2px solid #000;
}

.first-title{
    font-family: "Open Sans";
    font-size: 2em;
    color: #000;
}

.second-title{
    font-family: "Open Sans";
    font-size: 3em;
    color: #000;
}

.facebook>div>.text{
    font-family: outlineFontSolid;
    font-size: 1.5em;
    color: #000;
    border: 2px solid #000;
    padding: 10px;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: -13px;
}

.facebook>div>.text.done:hover{
    background: #cc3333;
    cursor: none;
}

.facebook>div>.text:visited{
    text-decoration: none;
}

.facebook>div>.text:focus{
    text-decoration: none;
}


.facebook>div>.text.done{
    background: #cc3333;
}

.facebook>div>.text:hover{
    background-color: #000;
    color: #fff;
    text-decoration: none;
}

.facebook>div>.step{
    font-family: outlineFontSolid;
    font-size: 1.5em;
    color: #000;
}

.facebook.share{
    margin-top: 30px;
}

.facebook-box{
    margin-top: 40px;
}

.twitter-login>.text{
    font-family: outlineFontSolid;
    font-size: 3em;
    color: #000;
}

.christmas-feelings{
    margin-top: 20px;
}

.christmas-feelings>.box>textarea{
    outline: none;
    border: 2px solid #000;
    width: 100%;
    resize:none;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.christmas-feelings>.title{
    font-family: outlineFontSolid;
    font-size: 1.2em;
    color: #000;
    text-align: center;
}

.christmas-feelings>.ps{
    color: #a8a8a8;
}